{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container" style="padding-top: 120px;">
    <div class="text-left">
        <h2 class="section-heading text-uppercase">Add Customer</h2>
    </div>
    <br>

    <form name="form" method="post" action="{% url 'addCustomer' %}">
        {% csrf_token %}
        <label for="first_name">First Name:</label>
        <input type="text" name="first_name" id="first_name" required>
        <br><br>

        <label for="last_name">Last Name:</label>
        <input type="text" name="last_name" id="last_name" required>
        <br><br>

        <label for="user_name">User Name:</label>
        <input type="text" name="user_name" id="user_name" required>
        <br><br>

        <label for="email">Email:</label>
        <input type="email" name="email" id="email" required>
        <br><br>

        <input type="submit" value="Submit" class="btn btn-primary">
    </form>
</div>
{% endblock %}
